/* tailwindcss */
@import "tailwindcss/preflight";
@import "tailwindcss";

/* Custom utilities */
@layer utilities {
  .text-color1 { color: #F97316; }
  .text-color2 { color: #4722F5; }
  .text-color3 { color: #0EA52F; }
  .text-color4 { color: #08041A; }
  .text-color5 { color: #FFBF32; }
}

.swiper-pagination .swiper-pagination-bullet {
  @apply bg-white;
}

.swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  @apply opacity-40;
}

.swiper-pagination {
  @apply bg-white/40 flex rounded-full w-auto! py-1 left-1/2! -translate-x-1/2! bottom-16! px-1;
}

.swiper-pagination .swiper-pagination-bullet {
  @apply bg-white mx-0.5!;
}
